body{
  background: url(images/landingbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.orgimg{
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  z-index: -1;
}



.dropdown{
position: absolute;
top: 50px;
right: 50px;
}

.dropdown button{
display: flex;
justify-content: center;
align-items: center;
background-color: #00000000;
color:white;
padding: 10px 15px;
border: solid 2px #a135ff;
border-radius: 10px;
outline: none;
cursor: pointer;
z-index: 1;
font-size: large;
}

.dropdown a{
display:block;
color: white;
text-decoration: none;
padding: 10px 15px;
border: 1px solid #fe4ff2;
border-radius: 10px;
}

.dropdown .content{
  right: 10px;
  padding-top: 10px;
  align-self: center;
  text-align: center;
  display: none;
  position: absolute;
  background-color: none;
  width: 150px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.282) ;
  border-radius: 50px;
}

.animate {
  
  transform:rotate(0deg)
}

.clicked{
  background-image: linear-gradient(75deg, #832eff ,#fe4ff2); 
  transform: rotate(180deg);
}


.dropdown :active button{
  display: block;
}

.dropdown:hover .content{
  display: block;
  border-radius: 10px;
}

.dropdown a:hover{
    background-image: linear-gradient(65deg,#832eff,#fe4ff2);
}

.description p {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin: 10px 0 40px;
  font-size: 20px;
}